@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Slick */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  @apply text-pretty;
}

.even-section-bg {
  @apply bg-white;
}
.odd-section-bg {
  @apply bg-gray-50;
}

/* padding for navbar scroll feature */
.p-nav-scroll {
  @apply pt-24;
}

.pb-section {
  @apply pb-8;
}

.title-adj {
  @apply text-primary-light font-semibold text-lg block mb-2;
}
.title {
  @apply mb-5 font-bold text-4xl text-primary-dark mx-auto text-center md:max-w-[83.33%];
}

.sub-title {
  @apply text-black/40 font-medium text-lg mb-6 mx-auto text-center;
}

.title-2 {
  @apply mb-5 font-bold text-2xl text-primary-dark;
}

.sub-title-2 {
  @apply font-light text-gray-500 text-base;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.p-5-line {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.p-5-line:hover {
  display: block;
}

/* START: Footer styles */
.footer {
  @apply flex flex-col text-slate-900  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex lg:justify-end justify-between flex-wrap flex-col md:flex-row max-md:mt-10 gap-10 md:gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */
